body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #333;
  background-color: aliceblue;
}

h1 {
  color: navy;
  font-size: 21px;
  text-align: center;
}

form {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  /* Sombra interna */
  background-color: #f9f9f9;
  max-width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 20px;
}

input {
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #007bff;
  /* Um azul primário */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  /* Muda o mouse para uma "mãozinha" */
  border-radius: 20%;
  margin: auto;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 3px; /* Um espaço menor entre o rótulo e o campo */
}